# Dependencies
node_modules/

# Build
dist/
*.local

# Editor
.vscode/*
!.vscode/extensions.json

# Env
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db
